/* second text color, headings #212121 */
/* accents #2196F3, #FFFFFF */
/* backgrounds #FFFFFF, #F5F4FA, #2F303A */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
/* Main page CSS styles */
.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.centered {
  text-align: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}
.benefits.section-title,
.portfolio.section-title {
  display: none;
}
img {
  display: block;
  max-width: 100%;
}

/* Page header */
.page-header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}
.logo span {
  color: var(--accent-color);
}
.logo.white {
  color: var(--second-accent-color);
}
/* Site navigation */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* contacts list */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Main */
/* hero */
.hero {
  background-color: var(--third-background-color);
}
.hero .container {
  max-width: 696px;
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-accent-color);
}
.hero-button {
  display: inline-block;
  min-width: 216px;
  min-height: 50px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--second-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Benefits */
.benefits.list {
  display: flex;
  justify-content: space-between;
}
.benefits .item {
  width: calc((100% - 90px) / 4);
}
.benefits .item + .item {
  margin-left: 30px;
}
.benefits .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.benefits .text {
  margin: 0;
}
/* What we do / activities section */
.activities.section {
  padding-top: 0;
}
.activities-photo {
  display: flex;
}
/* scale extra effect for activities illustration */
.activities .photo {
  transition: all 0.9s;
}
.activities .photo:hover {
  transform: scale(1.15);
}
.photo + .photo {
  margin-left: 30px;
}
/* Our team */
.team .list {
  display: flex;
}
.team .card + .card {
  margin-left: 30px;
}
.team .title {
  margin: 0 auto 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--title-text-color);
}
.team .text {
  margin: 0 auto;
  font-size: 16px;
}
.team-content {
  text-align: center;
  line-height: 1.17;
  padding: 30px 5px;
}
.team {
  background-color: var(--second-background-color);
}
.team.card {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
}
/* scale extra effect for team member */
.team.card {
  transition: all 0.9s;
}
.team.card:hover {
  transform: scale(1.2);
}
/* Footer */
footer {
  background-color: var(--third-background-color);
}
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .item {
  margin-top: 9px;
}
.footer .address {
  margin-top: 20px;
  text-decoration: none;
  font-style: normal;
  color: var(--second-accent-color);
}
.address .link {
  /* margin-top: 9px; */
  text-decoration: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus,
.address .address:hover,
.address .address:focus {
  color: var(--accent-color);
}
/* Portfolio page */
/* Filter buttons */
.list.filter .item {
  display: inline-block;
}
.list.filter {
  margin-bottom: 50px;
}
.list.filter .item + .item {
  margin-left: 8px;
}
.list .filter {
  min-width: 73px;
  min-height: 38px;
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--second-background-color);
  color: var(--title-text-color);
}
.filter.current,
.list .filter:hover,
.list .filter:focus {
  background-color: var(--accent-color);
  color: var(--second-accent-color);
}
/* Portfolio cards */
.portfolio-title {
  margin: 0 auto;
  margin-bottom: 4px;
  text-align: left;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio .text {
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.portfolio .link {
  text-decoration: none;
}
.portfolio.list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio > .item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
/* на перспективу, для ефектів картинки: */
/* .card-thumb {
  overflow: hidden;
} */
